html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.wrapper {
  padding: 0px 50px;
  height: 100vh;
}
nav {
  background: #3498db;
  height: 60px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
}
.logo > .myLogo {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffffd7;
  text-shadow: 1px 1px 1px;
}
.ul-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ul-list .list-item,
.list-items {
  list-style-type: none;
  height: 50px;
  line-height: 50px;
  position: relative;
}
.list-item:not(:last-child) {
  margin: 0px 14px;
}
.list-item:last-child {
  margin-left: 14px;
}
.list-item::after {
  position: absolute;
  bottom: -5px;
  left: 0px;
  content: "";
  width: 0%;
  border-radius: 4px;
  height: 4px;
  background-color: black;
  transition: all 0.5s;
}
.list-item:hover:after {
  width: 100%;
}
.list-item.active::after {
  width: 100%;
}
.list-item {
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffffc7;
}
footer {
  height: auto;
  background-color: rgb(0, 0, 0);
  display: grid;
  padding: 20px 20px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
.block1 > h4 {
  font-size: 1.7rem;
  font-weight: bold;
  color: dodgerblue;
  border-bottom: 2px solid;
}
.block1 > ul > li {
  list-style-type: none;
}
.block1 > ul > li > a {
  text-decoration: none;
  font-size: bold;
  transition: all 0.5s;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.469);
}
.block1 > ul > li > a:hover {
  color: #fff;
}
.icon {
  text-decoration: none;
  font-size: bold;
  transition: all 0.5s;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.469);
  font-size: 2.5rem;
  margin-right: 4px;
}
.icon:hover {
  color: #fff;
}
#icon {
  font-size: 1.3rem;
  margin-left: 4px;
}
#dropdown {
  position: relative;
}
.moldel {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 55px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.moldel > ul {
  width: 100%;
  text-align: center;
}
.moldel li {
  list-style-type: none;
  height: 30px;
  background: rgba(231, 231, 231, 0.812);
  line-height: 30px;
  transition: all 0.6s;
}
.moldel li a {
  margin-top: -10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.624);
  font-size: 1.3rem;
  font-weight: bold;
}
.moldel li a:hover {
  color: rgba(0, 0, 0, 0.885);
}
.moldel li:hover {
  background-color: rgb(245, 245, 245);
}
.moldel li:active {
  border-color: rgb(255, 255, 255);
}
.div {
  height: 300px;
}
.btn-down {
  font-size: 2.7rem;
  position: absolute;
  border-radius: 10px;
  display: none;
  right: 0;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  top: 9px;
  text-shadow: 0px 0px 2px black;
  text-align: center;
  /* padding: 10px; */
  align-items: center;
  background: #d9d0d0;
  height: 40px;
  width: 40px;
}
.slider {
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.img-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 640px;
}
.img-wrapper > img {
  width: 100%;
  object-fit: contain;
  height: auto;
  position: absolute;
}
.img-wrapper > img:not(.active-img) {
  left: -100%;
}
@keyframes nextOut {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes nextIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes prevOut {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes prevIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.btn-container {
  width: 100%;
  display: flex;
  padding: 60px;
  position: absolute;
  justify-content: space-between;
  transition: all 0.5s;
}
.btn-container button {
  background: rgba(255, 255, 255, 0.713);
  border-radius: 50%;
  outline: none;
  border: none;
  height: 25px;
  width: 25px;
  color: black;
  text-align: center;
}
.btn-container button:hover {
  background: rgba(255, 255, 255, 0.813);
  .icon1 {
    color: black;
  }
}
.icon1 {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.725);
}
.dots {
  display: flex;
  padding: 2px 3px;
  position: absolute;
  bottom: -50px;
  border-radius: 10px;
  gap: 3px;
  background: #ffffff3b;
}
.dots .dot {
  width: 12px;
  height: 10px;
  border-radius: 10px;
  background: #ffffffb9;
  transition: all 0.5s;
}
.dot:hover {
  background-color: #fff;
  width: 24px;
}
.dot.active-dot {
  width: 24px;
  background: #fff;
}
.box-container {
  height: auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.back {
  position: absolute;
  width: 100%;
  height: 0%;
  transition: 0.2s;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  bottom: 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-container .box {
  padding: 10px;
  position: relative;
  height: 255px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 238, 238);
  border-radius: 8px;
  transition: all 0.5s;
}
.tex {
  font-size: 3rem;
  color: dodgerblue;
  font-weight: bold;
  text-shadow: 0px 0px 2px dodgerblue;
}
.price {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.1s;
  color: #33a4ef;
}
.box:hover {
  .img > img {
    transform: scale(0.8);
  }
  .tit {
    color: rgba(0, 0, 0, 0.859);
    font-size: 1.5rem;
  }
  .box {
    height: 100%;
  }
  .back {
    height: 100%;
  }
  .price {
    display: block;
  }
}
.box > .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img > img {
  transition: 0.5s;
  max-width: 100%;
}
.tit {
  font-size: 1.3rem;
  transition: 0.5s;
  font-weight: bold;
  color: gray;
}
.product {
  background-color: rgb(0, 153, 255);
  height: auto;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-product {
  width: 150px;
  position: relative;
}
.list-group {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.list-item-product {
  background: rgb(232, 232, 232);
  padding: 8px;
  border-radius: 10px;
  font-size: 1.6rem;
  color: dodgerblue;
  transition: all 0.5s;
}
.list-item-product.active-product {
  background: hsl(0, 0%, 100%);
}
.list-item-product:hover {
  background: hsl(0, 0%, 100%);
}
.bar {
  height: 100%;
  position: absolute;
  width: 2px;
  background-color: rgb(255, 255, 255);
  top: 0px;
  right: -60px;
}
.post-product {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  width: calc();
  width: calc(100% - 200px);
}
.item-wrapper {
  height: auto;
  width: 180px;
  transition: all 0.5s;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
  /* justify-content: center; */
  padding: 10px;
  align-items: center;
}
.item-wrapper:hover {
  background-color: #dcdcdc;
  .img-product {
    transform: scale(1.05);
  }
}
.img-product {
  width: 100%;
  transition: 0.5s;
}
.name-product {
  font-size: 1.5rem;
  font-weight: bold;
}
.price-product {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}
.btn-buy {
  width: 100%;
  background: dodgerblue;
  border-radius: 8px;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.5s;
  font-weight: bold;
  border: 2px solid #ffffff5d;
  padding: 3px 0;
  margin-top: 10px;
}
.btn-buy:hover {
  border: 2px solid #ffff00f2;
}
.on,
.off {
  font-size: 1.3rem;
  color: #000;
  padding: 2px 5px;
  border-radius: 5px;
}
.on {
  background-color: lime;
}
.off {
  background-color: rgb(253, 201, 201);
  position: relative;
  color: red;
}
.strike {
  position: absolute;
  width: 100%;
  height: 2px;
  background: red;
  left: 0;
  top: 47%;
}
@media screen and (max-width: 1100px) {
  .slider {
    display: none !important;
  }
  .btn-container {
    display: none !important;
  }
  .img-wrapper {
    display: none !important;
  }
  .dot {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) {
  .box-container {
    grid-template-columns: auto auto auto;
  }
  .product {
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  .list-group {
    flex-direction: row;
  }
  .bar {
    display: none;
  }
  .post-product {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: 100% !important;
    margin-top: 30px;
  }
  .list-product {
    width: 100%;
  }
  .list-group {
    justify-content: center;
  }
}
@media screen and (max-width: 820px) {
  .box-container {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .post-product {
    grid-template-columns: auto auto;
  }
  .list-group {
    flex-direction: row;
    text-align: center;
    display: flex;
    align-items: center;

    justify-content: center;
  }
}
@media screen and (max-width: 668px) {
  .box-container {
    grid-template-columns: auto;
  }
  nav {
    position: relative;
  }
  .list {
    position: absolute;
    height: auto;
    display: none;
    border-radius: 0px 0px 10px 10px;
    /* bottom: -48px; */
    width: 100%;
    z-index: 1;
    border-top: 2px solid #ddd8d88a;
    top: 60px;
    background: #000000e0;
    left: 0px;
  }
  .ul-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-items {
    position: relative;
    transition: all 0.6s;

    width: 100%;
  }
  .list-items:last-child {
    border-radius: 0px 0px 10px 10px;
  }
  .list-items:hover {
    background-color: rgba(255, 255, 255, 0.309);
  }
  .list-item::after {
    display: none;
  }
  .moldel {
    position: absolute;
    width: 100px;
    top: 0;
    border-radius: 10px;
    z-index: 2;
    left: 100px;
  }
  .down:first-child {
    border-radius: 10px 10px 0px 0px;
  }
  .down:last-child {
    border-radius: 0px 0px 10px 10px;
  }
  .btn-down {
    display: block;
  }
  footer {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
  .block1 > ul > li > a {
    font-size: 1.2rem;
    line-height: 24px;
  }
}
@media screen and (max-width: 560px) {
  .post-product {
    width: inherit;
  }
  .list-item-product {
    width: 100%;
  }
  .list-group {
    flex-wrap: wrap;
    flex-flow: column;
  }
  .post-product {
    grid-template-columns: auto;
  }
  .item-wrapper {
    width: 210px;
    padding: 20px;
  }
}
@media screen and (max-width: 470px) {
  footer {
    grid-template-columns: auto;
    justify-content: center;
  }
  .box-container {
    grid-template-columns: auto;
  }
  .block1 {
    text-align: center;
  }
}
